<div
  id="definicion-proyecto"
  class="definicion-proyecto animated fadeIn faster"
>
  <h1 class="titulo-1">{{ proyecto.nombre }}</h1>
  <h3 class="titulo-2">Documentos</h3>
  <table>
    <tr>
      <th>Departamentos</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>Progreso</th>
    </tr>
    <tr>
      <td class="title-table">Planeacion</td>
      <td *ngFor="let doc of proyecto.planeacion">
        <ng-template [ngIf]="doc === 1">
          <img src="../../assets/icons/file.svg" alt="File" />
        </ng-template>
        <ng-template [ngIf]="doc === 0">
          <img src="../../assets/icons/close.svg" alt="File" />
        </ng-template>
      </td>
      <div class="progreso" [style.width.%]="this.progresos[0]">
        {{ this.progresos[0] }}%
      </div>
    </tr>

    <tr>
      <td class="title-table">Relaciones Institucionales</td>
      <td *ngFor="let doc of proyecto.relacionesInstitucionales">
        <ng-template [ngIf]="doc === 1">
          <img src="../../assets/icons/file.svg" alt="File" />
        </ng-template>
        <ng-template [ngIf]="doc === 0">
          <img src="../../assets/icons/close.svg" alt="File" />
        </ng-template>
      </td>
      <div class="progreso" [style.width.%]="this.progresos[1]">
        {{ this.progresos[1] }}%
      </div>
    </tr>
    <tr>
      <td class="title-table">Gestion administrativa</td>
      <td *ngFor="let doc of proyecto.gestion">
        <ng-template [ngIf]="doc === 1">
          <img src="../../assets/icons/file.svg" alt="File" />
        </ng-template>
        <ng-template [ngIf]="doc === 0">
          <img src="../../assets/icons/close.svg" alt="File" />
        </ng-template>
      </td>
      <div class="progreso" [style.width.%]="this.progresos[2]">
        {{ this.progresos[2] }}%
      </div>
    </tr>
    <tr>
      <td class="title-table">Proyectos</td>
      <td *ngFor="let doc of proyecto.proyectos">
        <ng-template [ngIf]="doc === 1">
          <img src="../../assets/icons/file.svg" alt="File" />
        </ng-template>
        <ng-template [ngIf]="doc === 0">
          <img src="../../assets/icons/close.svg" alt="File" />
        </ng-template>
      </td>
      <div class="progreso" [style.width.%]="this.progresos[3]">
        {{ this.progresos[3] }}%
      </div>
    </tr>
    <tr>
      <td class="title-table">Costos</td>
      <td *ngFor="let doc of proyecto.costos">
        <ng-template [ngIf]="doc === 1">
          <img src="../../assets/icons/file.svg" alt="File" />
        </ng-template>
        <ng-template [ngIf]="doc === 0">
          <img src="../../assets/icons/close.svg" alt="File" />
        </ng-template>
      </td>
      <div class="progreso" [style.width.%]="this.progresos[4]">
        {{ this.progresos[4] }}%
      </div>
    </tr>
  </table>

  <div class="pages">
    <div class="left">
      <img src="../../assets/icons/flecha.svg" alt="" />
    </div>
    <div class="choices">
      <a>1</a>
      <a>2</a>
      <a>3</a>
    </div>
    <div class="right">
      <img
        src="../../assets/icons/flecha.svg"
        style="transform: rotate(180deg);"
        alt=""
      />
    </div>
  </div>
</div>
