<div class="definicion-chat">
    <div class="chat">

        <div class="ventana animated faster" id="ventana">
            <div class="titulo">
                <h3>Chat</h3>
            </div>
            <div class="mensajes">
    
                <div class="mensaje">
                    <h3 class="remitente">Director</h3>
                    <p>Hola</p>
                </div>
    
                <div class="mensaje">

                    <h3 class="remitente">Secretario</h3>
                    <p>Mundo</p>
                </div>
            </div>
            <div class="input-chat">
                <input type="text" name="chat-input" id="chat-input">
                <button>Enviar</button>
            </div>
        </div>
        <a class="abrir-chat" id="abrir-chat">
            <h3>Abrir chat</h3>
        </a>
    </div>
</div>