@font-face{
	font-family: 'Segoe UI'	;
	src: require("./assets/fonts/Segoe-UI.ttf");	
}

$cafe: #7B1115;
$rosa: #FF5A87;	

* {
	width:100%;
}
html{
    margin:0;
    padding:0;
}

body {
	margin: 0; 
	font-family: "Segoe UI";
	
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}

input,
button {
	outline: none;
}

// // button{
// // &:hover{
// // 	transition: 0.3s;
// // }
// }