@font-face{
	font-family: 'Segoe UI'	;
	src: require("./assets/fonts/Segoe-UI.ttf");	
}

$cafe: #7B1115;
$blanco:#f1f1f1;
$rosa: #FF5A87;
$rosa-alt: #E94471;	
$gris: #707070;
$rojo: #BA2323;
$negro: #000000;
// * {
// 	width:100%;
// }
html{
    margin:0;
    padding:0;
}

body {
	margin: 0; 
	font-family: "Segoe UI";
	
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}

input,
button {
	outline: none;
}
$tablet: "only screen and (max-width : 900px)";
$mobile: "only screen and (max-width : 500px)";

// // button{
// // &:hover{
// // 	transition: 0.3s;
// // }
// }