@import "../../styles.scss";

.definicion-header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .primary-nav {
    background-color: white;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .botones {
      display: flex;
      flex-direction: row;
      width: 13%;
      .boton {
        display: flex;
        flex-direction: column;
        margin: 0px 30px;
        width: auto;
        img{
          width:40px;
          height:40px;
          margin:auto;
        }
        .icono {
          width: 40px;
          height: 40px;
          margin: auto;
          background-color: $cafe;
        }
        h4 {
          color: $cafe;
          margin: 0 auto;
        }
      }
    }
    .logo {
      width: 80%;
      height: 90px;
      img{
        width:297px;
        height:111px;
        margin-left:35%;
      }
    }
    .texto {
      width: 10%;
      color:$cafe;
    }
  }

  .secondary-nav {
    background-color: $cafe;
    height: 30px;
    display: flex;
    flex-direction: row;
    .lupa {
      width: 60px;
      height: 30px;
      margin: 0 10px;
      background-color: $cafe;
    }
    input {
      width: 84vw;
      color: white;
      border: 0;
      background-color: $cafe;
      height: 30px;
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      &::placeholder {
        color: white;
      }
    }
    .logout {
      width: 8vw;
      background-color: $cafe;
      h3 {
        font-size: 1em;
        margin:3px 0;
        height: 30px;
        color: white;
      }
    }
  }
}
