<div class="definicion-header animated slideInDown faster">
  <div class="primary-nav ">
    <div class="botones">
      <div class="boton">
        <img src="../../assets/icons/briefcase.png" alt="Portafolio" />
        <h4>Inicio</h4>
      </div>
      <div class="boton">
        <img src="../../assets/icons/briefcase.png" alt="" />
        <h4>Proyectos</h4>
      </div>
    </div>
    <div class="logo">
      <img src="../../assets/Logo/logo.png" alt="Logo" />
    </div>
    <div class="texto">
      <p>
        Secretaria de Infraestructura de la Direccion de Obras
      </p>
    </div>
  </div>
  <div class="secondary-nav ">
    <div class="lupa">
      <img src="../../assets/icons/search.png" alt="">
    </div>
    <div class="input"><input placeholder="Buscar" type="text" /></div>
    <div class="logout"><h3>Cerrar Sesión</h3></div>
  </div>
</div>
