@import "../../styles.scss";

.definicion-header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .primary-nav {
    background-color: white;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .botones {
      display: flex;
      flex-direction: row;
      width: 13%;
      .boton {
        display: flex;
        flex-direction: column;
        margin: 0px 30px;
        width: auto;
        .icono {
          width: 40px;
          height: 40px;
          margin: auto;
          background-color: $cafe;
        }
        h4 {
          color: $cafe;
          margin: 5px 0;
        }
      }
    }
    .logo {
      width: 80%;
      height: 90px;
    }
    .texto {
      width: 10%;
    }
  }

  .secondary-nav {
    background-color: $cafe;
    height: 50px;
    display: flex;
    flex-direction: row;
    .lupa {
      width: 60px;
      height: 50px;
      margin: 0 10px;
      background-color: white;
    }
    input {
      width: 400px;
      color: white;
      border: 0;
      background-color: $cafe;
      height: 50px;
      font-size: 1.4em;
      margin: 0;
      padding: 0;
      &::placeholder {
        color: white;
      }
    }
    .logout {
      width: 10%;
      background-color: $cafe;
      h3 {
        height: 30px;
        color: white;
      }
    }
  }
}
