@import "../../styles.scss";

.definicion-header {
  width: 100%;
  display: flex;
  flex-direction: column;

  .primary-nav {
    background-color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    // margin-bottom: 20px;
    .botones {
      display: flex;
      flex-direction: row;
      width: 13%;
      .boton {
        display: flex;
        flex-direction: column;
        margin: 0px 30px;
        width: auto;
        img{
          width:30px;
          height:30px;
          margin: 10px auto 0;
        }
        .icono {
          width: 30px;
          height: 30px;
          margin:  auto;
          background-color: $cafe;
        }
        h4 {
          color: $cafe;
          font-size: 0.7em;
          margin: 0 auto;
        }
      }
    }
    .logo {
      width: 80%;
      height: 70px;
      img{
        // width:297px;
        margin-top:5px;
        width:148.5px;
        // height:111px;
        height:55.5px;
        margin-left:30vw;
      }
    }
    .texto {
      width: 15%;
      font-size: 0.7em;
      color:$cafe;
    }
  }

  .secondary-nav {
    background-color: $cafe;
    height: 30px;
    display: flex;
    flex-direction: row;
    .lupa {
      width: 60px;
      height: 30px;
      margin: 0 10px;
      background-color: $cafe;
    }
    input {
      width: 84vw;
      color: white;
      border: 0;
      background-color: $cafe;
      height: 30px;
      font-size: 1em;
      margin: 0;
      padding: 0;
      &::placeholder {
        color: white;
      }
    }
    .logout {
      width: 8vw;
      background-color: $cafe;
      h3 {
        font-size: 1em;
        margin:3px 0;
        height: 30px;
        color: white;
      }
    }
  }
}
