<div class="definicion-header animated slideInDown faster">
  <div id="submenu" class="submenu">
    <a (click)="visualizarProyectos()">Visualizar proyectos</a>
    <a (click)="crearProyecto()"> Crear proyecto</a >
  </div>
  <div class="primary-nav " id="primary-nav">
    <div class="botones">
      <a [routerLink]="['/home']" [state]="{boss:true,id:1}" routerLinkActive="router-link-active"  class="boton">
        <img src="../../assets/icons/home-alt.png" alt="Portafolio" />
        <h4>Inicio</h4>
      </a>
      <a id="proyectos" class="boton" (click)="visualizarProyectos()" >
        <img src="../../assets/icons/briefcase.png" alt="" />
        <h4>Proyectos</h4>
      </a>
    </div>
    <div class="logo">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <img src="../../assets/Logo/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="texto">
      <p>
        Secretaria de Infraestructura <br>Direccion de Obras
      </p>
    </div>
  </div>
  <div class="secondary-nav ">
    <div class="lupa">
      <img src="../../assets/icons/search.png" alt="">
    </div>
    <div class="input" ><input  placeholder="Buscar..." type="text" /></div>
    <div class="logout">
      <a >
        <img src="../../assets/icons/bell.svg" alt="">
      </a>
      <a>
        <h3>Cerrar Sesión</h3>
      </a>
    </div>

  </div>
</div>
