<div class="definicion-header">
  <div class="primary-nav">
    <div class="botones">
      <div class="boton">
        <div class="icono"></div>
        <h4>Inicio</h4>
      </div>
      <div class="boton">
        <div class="icono"></div>
        <h4>Proyectos</h4>
      </div>
    </div>
    <div class="logo"></div>
    <div class="texto"></div>
  </div>
  <div class="secondary-nav">
    <div class="lupa"></div>
    <div class="input"><input placeholder="Buscar" type="text" /></div>
    <div class="logout"><h3>Cerrar Sesión</h3></div>
  </div>
</div>
