@import "../../styles.scss";

.definicion-form {
  position: relative;
  width: 80%;
  color: $rojo;
  margin: auto;
  h2 {
    margin: 40px 0;
    text-align: center;
  }
  .input {
    border-radius: 3px;
    // border-radius: .5em;
    box-shadow: -3px -3px 3px 0 #ffffff, 3px 3px 3px 0 $rojo;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:50px;
    margin: 20px 0;
    .descripcion {
      width: 97%;
      background-color: white;
      font-size: 0.7em;
      border: none;
      margin: auto;
      display: flex;
      flex-direction: row;
      .tip {
        height: 18px;
        margin-right: 5px;
        background-color: $rojo;
        width: 2px;
      }
      p {
        color: $rojo;
        margin: 0px 0 3px 0px;
      }
    }
    input {
      border: 0;
      height: 20px ;
      background-color: white;
      width: 92%;
      font-size: 0.8em;
      margin: auto 10px;
      margin-bottom: 2px;
      border-radius: 2px;
      //   border-bottom: solid $rojo 1px;
    }
  }
  .grid-form {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 80%;
    margin: auto;
    grid-column-gap: 5%;
  }
  .button-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    button {
      background-color: $rojo;
      color: #f1f1f1;
      border-color: transparent;
      margin: auto;
      width: 190px;
      height: 35px;
      font-size: 0.8em;
      border-radius: 3px;
      // border-radius: .5em;
      // box-shadow: -3px -3px 3px 0 #ffffff, 3px 3px 3px 0 $rojo;
    }
  }
  #map {
    height: 150px;
    width: 100%;
    align-self: center;
    margin: auto;
   }
}
