<div id="crear-proyecto" class="definicion-form animated fadeIn faster">
  <h2>Departamento de planeacion</h2>

  <div class="input">
    <div class="descripcion">
      <div class="tip"></div>
      <p>Nombre del proyecto:*</p>
    </div>
    <input
      type="email"
      style="border-radius: 0px;border-bottom: solid #BA2323 1px;width:97%;"
    />
  </div>

  <div class="grid-form">
    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Calle:*</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Localidad:*</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Colonia:*</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>C.P.:*</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Programa:</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Arquitecto:</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Ejercicio Fiscal:</p>
      </div>

      <input type="email" />
    </div>

    <div class="input">
      <div class="descripcion">
        <div class="tip"></div>
        <p>Nota:</p>
      </div>

      <input type="email" />
    </div>

<div class="input" style="height:170px;">
  <div #mapContainer id="map"></div>
</div>
  </div>
  <div class="button-container">
    <button class="btn-crear">Crear Proyecto</button>
  </div>
</div>
