@import "../../styles.scss";

.definicion-proyectos {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  h1 {
    font-size: 1.5em;
    margin: 60px 0 0;
    color: $rojo;
  }
  .definicion-perfil{
    width: 100%;
    display:flex;
    flex-direction: row;
    margin:auto;
    .campo{
      margin:20px 0 0;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      h2{
        color: $rojo;
        &.proyectos{
          margin: auto 20px auto;
        }
      }
      p{
        margin:28px 20px 0;
      }

    }
  }
  .tabla-container {
    margin: 0px 0 46px;
    table {
      width: 100%;
      th {
        border-bottom: solid $cafe 1px;
        text-align: center;
        padding: 20px 2px;
      }
      td {
        padding: 20px 10px;
        text-align: center;
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: $negro;
      }
    }
  }
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: auto;
    margin: auto;
    margin: 0px 0 20px;
    .left,
    .right {
      background-color: $rosa-alt;
      width: 25px;
      height: 25px;
    }
    .choices {
      a {
        color: $rosa-alt;
        margin: 0 5px;
      }
    }
  }
}
