@import "../../styles.scss";

.definicion-proyectos {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  h1 {
    font-size: 1.5em;
    margin: 60px 0 0;
    color: $rojo;
  }
  .definicion-perfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    .campo {
      margin: 20px 0 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      h2 {
        color: $rojo;
        &.proyectos {
          margin: auto 20px auto;
        }
      }
      p {
        margin: 28px 20px 0;
      }
    }
  }
  .tabla-container {
    margin: 0px 0 10px;
    table {
      width: 100%;
      th {
        border-bottom: solid $cafe 1px;
        text-align: center;
        padding: 20px 2px;
      }
      td {
        padding: 20px 15px;
        text-align: center;

        .progreso {
          width: 20px;
          height: 15px;
          margin: 20px 0;
          background-color: #66bb6a;
          color: #0c0c0c;
          font-size: 0.6em;
          text-align: center;
        }
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: $negro;
      }
    }
  }
  .pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: auto;
    margin: auto;
    margin: 0px 0 20px;
    .left,
    .right {
      width: 15px;
      height: 25px;
      margin: 2px 10px 0;
      img{
        width:15px;
        height:15px;
        // transform: rotate(180deg);
        margin:auto 0;
      }
    }
    .choices {
      a {
        color: $rosa-alt;
        margin: 0 5px;
      }
    }
  }
}
