<div class="definicion-proyectos animated fadeIn">
  <ng-container *ngIf="boss.on">
    <div class="definicion-perfil">
      <div class="campo">
        <h2>{{ this.boss.cargo }}:</h2>
        <p>{{ this.boss.nombre }}</p>
      </div>
      <div class="campo">
        <h2 class="proyectos">Proyectos asignados:</h2>
        <p>{{ this.obras.length }}</p>
      </div>
    </div>
  </ng-container>
  <h1 class="titulo">Proyectos actuales</h1>
  <div class="tabla-container">
    <table>
      <tr>
        <th *ngFor="let item of tableHeaders">{{ item }}</th>
      </tr>
      <tr *ngFor="let obra of obras">
        <td>
          <a [routerLink]="['/proyecto']" routerLinkActive="router-link-active">
            {{ obra.id }}
          </a>
        </td>
        <td>
          {{ obra.numObra }}
        </td>
        <td>
          <a [routerLink]="['/proyecto']" routerLinkActive="router-link-active">
            {{ obra.nombre }}
          </a>
        </td>
        <td>{{ obra.ubicacion }}</td>
        <td>{{ obra.ejercicioFiscal }}</td>
        <td>{{ obra.programa }}</td>
        <td>
          <a [routerLink]="['/proyectos']" [state]="{boss:true,id:1}" routerLinkActive="router-link-active" >

            {{ obra.responsable }}
          </a>
        </td>
        <td>
          <div class="progreso" [style.width.%]="this.obra.progreso">
            {{ this.obra.progreso }}%
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="pages">
    <div class="left"></div>
    <div class="choices">
      <a>1</a>
      <a>2</a>
      <a>3</a>
    </div>
    <div class="right"></div>
  </div>
</div>
