<div class="definicion-vista animated fadeIn faster">
    <h2>Departamento de Proyectos</h2>
    <div class="form">
        <h3>Nombre del proyecto: {{nombreProyecto}}</h3>
        <h3>Ubicacion: {{ubicacion}}</h3>  
    </div>
    <div class="grid-archivos">
        <a class="archivo" (click)="uploader.click()">
            <input hidden type="file" #uploader
            (change)="uploadFile($event)"/>
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
            <!-- <button (click)="uploader.click()">
                Subir archivo
               </button> -->
            <!-- <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
            <div class="form-group">
                <input hidden type="file"
                       id="file"
                       (change)="handleFileInput($event.target.files)">
            </div> -->

        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
    </div>
</div>