@import "../../styles.scss";

.definicion-vista{
    width:90%;
    margin: auto;
    min-height: 77vh;
    h2{
        margin-top:60px;
        text-align: center;
        color: $rojo;
    }
    .form{
        h3{
            font-size: 1em;
        }
    }
    .grid-archivos{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        margin:60px auto 0;
        grid-row-gap: 20%;
        
        .archivo{
            margin:0 5%;
            display:flex;
            flex-direction: column;
            align-items: center;
            border: solid black 1px;
            background-color: #F3E4E4;

            img{
                width:30px;
                height: 30px;
                margin:10px 0 0;
            }
            h3{
                margin:10px 0;
                font-size: 0.8em;
            }
        }
    }
}