<div class="definicion-vista animated fadeIn faster">
    <h2>Departamento de Proyectos</h2>
    <div class="form">
        <div class="descripcion">
            <h3>Nombre del proyecto: </h3>
            <p>{{nombreProyecto}}</p>
        </div>
        <div class="descripcion">
            <h3>Ubicacion: </h3>  
            <p>{{ubicacion}}</p>
        </div>
    </div>
    <div class="grid-archivos">
        <a class="archivo" (click)="uploader.click()">
            <!-- handleFileInput($event.target.files) -->
            <input hidden  accept=".docx,.doc,.pdf,.dwg,.pptx,.jpg,.png,.JPG,.PNG" type="file" #uploader
            (change)="uploadFile($event); " id="file" name="file"/>
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
            <!-- <button (click)="uploader.click()">
                Subir archivo
               </button> -->
            <!-- <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
            <div class="form-group">
                <input hidden type="file"
                       id="file"
                       (change)="handleFileInput($event.target.files)">
            </div> -->
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
        <a class="archivo">
            <img src="../../assets/icons/file.svg" alt="file">
            <h3>Subir archivo</h3>
        </a>
    </div>
</div>