@import "../../styles.scss";

.definicion-login {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  @media #{$tablet} {
    flex-direction: column;
  }
  .login {
    background-color: $cafe;
    height: 100vh;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-right: #580000 solid 2px;
    .definicion-formulario {
      width: 50%;
      .user-img {
        border-radius: 200px;
        height: 150px;
        width: 150px;
        margin: auto auto 50px;
        background-color: #ffffff;
      }
      .campos {
        width: 100%;
        display: flex;
        flex-direction: column;
        .campo {
          -webkit-box-shadow: 0px 0px 0px 1px black; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
             -moz-box-shadow: 0px 0px 0px 1px black; /* Firefox 3.5 - 3.6 */
                  box-shadow: 0px 0px 0px 1px black;
          width: 70%;
          height: 50px;
          display: flex;
          flex-direction: row;
          margin: auto auto 25px;

          .tip {
            background-color: $rosa;
            height: 50px;
            width: 10px;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            .descripcion {
              background-color: white;
              font-size: 0.7em;
              border: none;
              p {
                color: $gris;
                margin: 2px 0 0 3px;
              }
            }
            input {
              border: none;
              height: 22px;
              width: 97%;
              font-size: 0.8em;
              padding: 0 0 0 3%;
            }
            .message {
              border: 0;
              color: $gris;
              background-color: white;
              height: 11px;
              width: 100%;
              font-size: 0.6em;
              text-align: right;
              padding: 0;
              margin: 0;
              padding-left: 100px;
            }
          }
        }
      }
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: auto;
        margin: 0 0 0 64%;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;

        h4 {
          margin: 0;
          margin-right: 5px;
          font-size: 1.1em;
          font-weight: 800;
        }

        img {
          height: 20px;
          width: 20px;
          &:hover {
            height: 21px;
            width: 21px;
            transition: 0.3s;
          }
        }

        &:hover {
          font-size: 0.9em;
          margin-left: 63.5%;
          transition: 0.3s;
        }
      }
    }
  }
  .logo {
    border-left: #580000 solid 2px;
    height: 100vh;
  }
}
