@import "../../styles.scss";

.definicion-login {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  .login {
    background-color: $cafe;
    height: 100vh;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-right: #580000 solid 2px;
    .definicion-formulario {
      width: 50%;
      .user-img {
        border-radius: 200px;
        height: 300px;
        width: 300px;
        margin: auto auto 50px;
        background-color: #ffffff;
      }
      .campos {
        width: 100%;
        display: flex;
        flex-direction: column;
        .campo {
          width: 70%;
          height: 70px;
          display: flex;
          flex-direction: row;
          margin: auto auto 25px;
          .tip {
            background-color: $rosa;
            height: 70px;
            width: 10px;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            .descripcion {
              background-color: white;
              font-size: 0.7em;
              border: none;
              p {
                color: grey;
                margin: 5px 0 0 3px;
              }
            }
            input {
              border: none;
              height: 100%;
              width: 97%;
              font-size: 1.2em;
              padding: 0 0 0 3%;
            }
          }
        }
      }
      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: auto;
        margin: 0 0 0 66%;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;

        h4 {
          margin: 0;
          margin-right: 5px;
          font-size: 1.2em;
          font-weight: 800;
        }

        img {
          height: 30px;
          width: 30px;
          &:hover {
            height: 30px;
            width: 30px;
            transition: 0.3s;
          }
        }

        &:hover {
          font-size: 0.9em;
          margin-left: 66.5%;
          transition: 0.3s;
        }
      }
    }
  }
  .logo {
    border-left: #580000 solid 2px;
    height: 100vh;
  }
}
