<div class="definicion-login">
  <div class="login">
    <div class="definicion-formulario animated fadeIn faster">
      <div class="user-img"></div>
      <div class="campos">
        <div class="campo">
          <div class="tip"></div>
          <div class="input">
            <div class="descripcion"><p>EMAIL</p></div>
            <input type="email" />
            <p class="message" style="padding:0"></p>
          </div>
        </div>
        <div class="campo">
          <div class="tip"></div>
          <div class="input">
            <div class="descripcion"><p>PASSWORD</p></div>
            <input type="password" />
            <button class="message">¿Olvidaste tu contraseña? </button>
          </div>
        </div>
       </div>
      <button class="login-button" [routerLink]="['/login']" routerLinkActive="router-link-active" >
        <h4>LOGIN</h4>
        <img src="../../assets/icons/login.svg" alt="login logo">
      </button>
    </div>
  </div>
  <div class="logo">
    <div class="logo-img"></div>
    <div class="data"></div>
  </div>
</div>
