@import "../../styles.scss";

.definicion-login {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
  .login {
    background-color: $cafe;
    height: 100vh;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-right: #580000 solid 2px;
    .definicion-formulario {
      width: 50%;
      .user-img {
        border-radius: 200px;
        height: 300px;
        width: 300px;
        margin: auto auto 50px;
        background-color: #ffffff;
      }
      .campos {
        width: 100%;
        display: flex;
        flex-direction: column;
        .campo {
          width: 70%;
          height: 70px;
          display: flex;
          flex-direction: row;
          margin: auto auto 25px;
          .tip {
            background-color: $rosa;
            height: 70px;
            width: 10px;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            .descripcion {
              background-color: white;
              font-size: 0.7em;
              border: none;
              p{
                  color:grey;
                  margin:5px 0 0 3px;
              }
            }
            input {
                border:none;
                height:100%;
                width: 97%;
                font-size: 1.2em;
                padding: 0 0 0 3%;
            }
          }
        }
      }
      button {
        width: auto;
        margin-left: 75%;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1em;
      }
    }
  }
  .logo {

    border-left: #580000 solid 2px;
    height: 100vh;
  }
}
