<div class="definicion-login">
    <div class="login">

        <div class="definicion-formulario">
            <div class="user-img">
                
            </div>
            <div class="campos">
                <div class="campo">
                    <div class="tip"></div>
                    <div class="input">
                        <div class="descripcion"><p>EMAIL</p></div>
                        <input  type="email">
                    </div>
                </div>
                <div class="campo">
                    <div class="tip"></div>
                    <div class="input">
                        <div class="descripcion"><p>PASSWORD</p></div>
                        <input  type="password">
                    </div>
                </div>
            </div>
            <button class="login-button">LOGIN</button>
        </div>
    </div>
    <div class="logo">
        <div class="logo-img">

        </div>
        <div class="data"></div>
    </div>
</div>