@import "../../styles.scss";

.definicion-programas {
  width: 80%;
  margin: 30px auto 0;
  min-height: 81vh;
  display: flex;
  flex-direction: column;
  h1 {
    margin: 10px;
    color: $rojo;
    font-size: 1.5em;
  }
  .programa {
    display: flex;
    flex-direction: column;
    // border: solid black 1px;

    box-shadow: 15px 15px 20px 0px rgb(235, 236, 240);
    margin: 20px 0;
    .programa-nombre {
      display: flex;
      flex-direction: row;
      h2 {
        font-size: 1.3em;
        margin: 10px 0 10px 30px;
        width: auto;
        color: $rojo;
      }
      img {
        height: 20px;
        margin: auto;
        margin-right: 2%;
        transition-duration: 0.3s;
        transition-property: transform;
      }
    }
    .linea {
      width: auto;
      margin: 0 30px;
      background-color: $gris;
      height: 2px;
    }
    .proyectos {
      display: none;
      flex-direction: column;
      .proyecto {
        display: flex;
        flex-direction: row;
        margin: 0 1%;
        .proyecto-id {
          width: 5%;
          margin: auto;
        }
        .proyecto-nombre {
          width: 85%;
          font-weight: normal;
        }
      }
    }
  }
}
